[submodule "copasi-dev/copasi-dependencies"]
	path = dev/copasi-source/copasi-dependencies
	url = https://github.com/copasi/copasi-dependencies.git
[submodule "dev/copasi-source/COPASI"]
	path = dev/copasi-source/COPASI
	url = https://github.com/copasi/COPASI.private.git
	branch = develop_optmethodga
